* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
}
body {
  height: auto;
}
.func {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: white;
  padding-bottom: 30px;
}
h1 {
  margin: 70px 1em 1em;
}
button {
  padding: 1em 3em;
}
.list {
  padding: 0 0 70px 0;
  left: 20vw;
  height: calc(100vh - 300px);
  width: 50vw;
  height: auto;
  text-align: center;
  font-size: 2vw;
  overflow-y: visible;
}
.name-line {
  padding: 1.5em 0 0 0;
  width: 0;
  overflow: visible;
}
.underlined {
  width: 55vw;
}
.underlined .each-name {
  border-left: 3px solid rgba(22, 150, 90, 0.842);
}
.each-name {
  width: 50vw;
  cursor: pointer;
}
.function {
  position: fixed;
  background-size: contain;
  cursor: pointer;
}
.function-byFirstName {
  width: 23vw;
  height: 23vw;
  top: 40vh;
  left: 0;
  background-image: url(img/by-first.png);
}
.function-byLastName {
  width: 29vw;
  height: 29vw;
  right: 0;
  bottom: 0;
  background-image: url(img/by-last.png);
}
.function-shuffle {
  width: 13vw;
  height: 13vw;
  top: 0;
  left: 59vw;
  background-image: url(img/shuffle.png);
}
span {
  pointer-events: none;
}
.round {
  width: 4vw;
  height: 4vw;
  border-radius: 50px;
  background-size: contain;
  position: absolute;
  bottom: -0.6vw;
  display: none;
  cursor: pointer;
  opacity: 0.91;
}
.round:first-of-type {
  right: 4.3vw;
  background-image: url(img/del.png);
}
.round:last-of-type {
  right: 0;
  background-image: url(img/more.png);
}
.shuffle-wrapper {
  width: 100vw;
  height: 13vw;
  min-height: 150px;
  background-image: linear-gradient(white 83%, transparent);
  position: fixed;
  top: 0;
  z-index: 1;
  padding-left: 26vw;
  font-size: 1.4vw;
}
.delAnimation {
  animation: del 0.5s forwards ease-out;
}
@keyframes del {
  to {
    opacity: 0;
  }
}
.more-info {
  display: none;
  z-index: 2;
  width: 130vh;
  height: 130vh;
  border-radius: 65vh;
  position: fixed;
  top: -15vh;
  left: calc(50vw - 65vh);
  background-color: rgba(22, 150, 90, 0.988);
  padding: 20vh 5vh;
  text-align: center;
}
.more-info p {
  color: white;
  font-size: 2em;
  cursor: pointer;
  position: relative;
}
.more-info p.text {
  width: 70%;
  left: 15%;
  font-size: 1.5em;
  margin-top: 2em;
  line-height: 1.5em;
  text-align: justify;
}
