* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
}
body {
  height: auto;
}
.func {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: white;
  padding-bottom: 30px;
}
h1 {
  margin: 70px 1em 1em;
}
button {
  padding: 1em 3em;
}
.list {
  padding: 0 0 70px 0;
  top: 100px; /* leave room for trigger shuffle */
  left: 25vw;
  height: calc(100vh - 300px);
  width: 50vw;
  height: auto;
  text-align: center;
  font-size: 2vw;
  overflow-y: inherit;
}
.name-line {
  padding: 2em 0 0 0;
  width: 0;
  overflow: visible;
}
.underlined {
  width: 50vw;
}
.each-name {
  width: 50vw;
}
.function {
  position: fixed;
  width: 43vw;
  height: 19vw;
  background-color: orange;
}
.function-byFirstName {
  top: 40vh;
  left: 0;
}
.function-byLastName {
  right: 0;
  top: 70vh;
}
.function-shuffle {
  width: 31vw;
  height: 11vw;
  top: 0;
  left: 53vw;
}
span {
  pointer-events: none;
}
.round {
  width: 3vw;
  height: 3vw;
  border-radius: 50px;
  background-color: darkgreen;
  position: absolute;
  bottom: -0.3vw;
  display: none;
  cursor: pointer;
}
.round:first-of-type {
  right: 3vw;
  border: 3px solid darkgreen;
  background-color: transparent;
}
.round:last-of-type {
  right: 0;
  background-color: darkgreen;
}
