* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
}
body {
  height: auto;
}
.func {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: white;
  padding-bottom: 30px;
}
h1 {
  margin: 70px 1em 1em;
}
button {
  padding: 1em 3em;
}
.list {
  padding: 0 0 70px 0;
  left: 20vw;
  height: calc(100vh - 300px);
  width: 50vw;
  height: auto;
  text-align: center;
  font-size: 2vw;
  overflow-y: visible;
}
.name-line {
  padding: 1.5em 0 0 0;
  width: 0;
  overflow: visible;
}
.underlined {
  width: 55vw;
}
.underlined .each-name {
  border-left: 3px solid rgba(22, 150, 90, 0.842);
}
.each-name {
  width: 50vw;
}
.function {
  position: fixed;
  background-size: contain;
}
.function-byFirstName {
  width: 23vw;
  height: 23vw;
  top: 40vh;
  left: 0;
  background-image: url(img/by-first.png);
}
.function-byLastName {
  width: 29vw;
  height: 29vw;
  right: 0;
  bottom: 0;
  background-image: url(img/by-last.png);
}
.function-shuffle {
  width: 13vw;
  height: 13vw;
  top: 0;
  left: 59vw;
  background-image: url(img/shuffle.png);
}
span {
  pointer-events: none;
}
.round {
  width: 4vw;
  height: 4vw;
  border-radius: 50px;
  background-color: rgba(22, 150, 90, 0.842);
  position: absolute;
  bottom: -3.7vw;
  display: none;
  cursor: pointer;
}
.round:first-of-type {
  right: 4vw;
  border: 3px solid rgba(22, 150, 90, 0.842);
  background-color: transparent;
}
.round:last-of-type {
  right: 0;
  background-color: rgba(22, 150, 90, 0.842);
}
.shuffle-wrapper {
  width: 100vw;
  height: 13vw;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-left: 26vw;
  font-size: 1.4vw;
}
